[Desktop Entry]
Name=Themis - Chương trình chấm bài tự động
Exec=env WINEPREFIX="/home/anton/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Themis\\\\Themis\\ -\\ Chương\\ trình\\ chấm\\ bài\\ tự\\ động.lnk
Type=Application
StartupNotify=true
Comment=Themis - Chương trình chấm bài tự động
Path=/home/anton/.wine/dosdevices/c:/Program Files (x86)/Themis
Icon=573D_Themis.0
StartupWMClass=themis.exe
X-XFCE-Source=file:///home/anton/.local/share/applications/wine/Programs/Themis/Themis%20-%20Ch%C6%B0%C6%A1ng%20tr%C3%ACnh%20ch%E1%BA%A5m%20b%C3%A0i%20t%E1%BB%B1%20%C4%91%E1%BB%99ng.desktop
